@page "/dashboard"

@using Blazorise.Charts
@using oedibud.Services
@using oedibud.Models

@inject ForecastService ForecastService

<h3>Budget Forecast</h3>

<Blazorise.Charts.LineChart TItem="double?" @ref="chart" />

@code {

    private Blazorise.Charts.LineChart<double?> chart = default!;
    private Blazorise.Charts.LineChartOptions lineChartOptions = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var forecast = await ForecastService.GetForecast();

            var labels = forecast.Select(x => x.Month.ToString("MM/yyyy")).ToList();

            var data = forecast.Select(x => (double?)x.Cost).ToList();
            // lineChartOptions = new() { Responsive = true, Interaction = new Blazorise.Charts.ChartInteraction { Mode = InteractionMode.Index } };
            // lineChartOptions.Scales.Y!.Max = 250;

            var dataset = new LineChartDataset<double?>
            {
                Label = "Forecast",
                Data = data
            };

            // await chart.AddLabelsDatasetsAndUpdate(labels, new IChartDataset[] { dataset });
        }
    }
}
